@font-face {
  font-family: 'FVF Femendo 08';
  src: url('FVF Femendo 08.ttf');
  /* src: url('FVF Femendo 08.ttf').format('truetype'); */
  font-weight: normal;
  font-style: normal;
}

.fontLoader {
   position: absolute;
   left: -1000px;
   visibility: hidden;
}
