@font-face {
  font-family: '5SQUARED-PIXEL';
  src: url('5SQUARED-PIXEL.ttf');
  /* src: url('5SQUARED-PIXEL.ttf').format('truetype'); */
  font-weight: normal;
  font-style: normal;
}

/* .fontLoader {
   position: absolute;
   left: -1000px;
   visibility: hidden;
} */
